@model IEnumerable<GSA_DBF.Models.Classificacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epoca.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UC.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epoca.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UC.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
